attrs==23.1.0
certifi==2023.5.7
chardet==3.0.4
click==7.1.2
dnspython==2.3.0
email-validator==2.0.0.post2
fastapi==0.46.0
h11==0.9.0
httptools==0.0.13
idna==2.8
more-itertools==9.1.0
packaging==23.1
pluggy==0.13.1
py==1.11.0
pydantic==1.10.7
pytest==5.3.2
requests==2.22.0
starlette==0.12.9
typing_extensions==4.5.0
urllib3==1.25.11
uvicorn==0.11.1
uvloop==0.17.0
wcwidth==0.2.6
websockets==8.1
